@import "../../styles/variables.scss";

.users{
  color: black;
  gap: 20px;
  //height: 1000px;
  .search{
    width: 200px;
    border: none;
    background: transparent;
    border-bottom: 1px solid $main-bg;
    margin-top: 20px;
    margin-left: 100px;
  }
  .add{
    float: right;
    height: 40px;
    width: 100px;
    margin-right: 50px;
    border: 1px solid #a6a6a6;
    border-radius: 10px;
  }
  .container{
    display: grid;
    gap: 20px;
    margin-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
    grid-template-columns: repeat(7, auto);
    grid-auto-rows: minmax(200px, auto);

    .box{
      padding:10px;
      border-radius: 10px;
      width: 170px;
      border: 1px solid $soft-bg;
    }
  }
}